/*  thanks to Holy-grail CSS (https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/) for the help with the below layout pattern */

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  }
  
  .main-body{
    display: flex;
    flex: 1;
  }

  .middle-content {
    background-color: white;
    flex: 1;
  }
  
  .side-bar-left, .side-bar-right{
    flex: 0 0 12em;
    background-color: lightgray;
  }
  
  .side-bar-left{

    order: -1;
  }
  .container, .main-body {
    display: flex;
    flex-direction: column;

  }
  @media (min-width: 768px) {
    .main-body {
      flex-direction: row;
      flex: 1;
    }
    .middle-content {
      flex: 1;
    }
    .side-bar-left, .side-bar-right {
      
      flex: 0 0 12em;
    }
  }

.footer{
    background:  rgb(28, 163, 129);
    height: 25px;
}
/*********************
 HEADER and NAV Bar
************************/
@media (max-width: 600px) {
.site-header {
    flex-wrap: wrap;
}
.site-nav {
    order: 2;
    background: #333;
    width: 100%;
}
}

.site-header {
background: rgb(28, 163, 129);
color: white;
display: flex;
align-items: center;
}

.logo {
text-decoration: none;
color: white;
font-size: 28px;
letter-spacing: 1px;
padding: 10px;
margin-right: 100px;
}

.nav-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navBtn {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
}
.navBtn:active {
    font-weight: bold;
    color: #62DEBE;
    background: darken(#62DEBE, 40%);
    transform: translateY(3px);
    }

.navBtn:hover{
    background: rgb(12, 78, 62);
    
    
}

/**************************
Active Task Card Styling
***************************/

.active-task-container {
    
    border: 2px solid black;
    border-radius: 10px;
    margin: 25px auto;
    padding: 20px;
    box-shadow: 5px 8px gray;
    width: 75%;
    height: 350px;
}
.task-name{
    font-weight: bold;
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
    background: lightblue;
    box-shadow: 5px 5px darkslateblue;
    border-radius: 10px;
}

.task-description-label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;

}

.task-description-body {
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    overflow: scroll;
    margin-top: 2px;
    margin-bottom: 2px;
}
.owner-date-container{
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-right: 0;
    column-count: 2;
    height: 35%;
    
}
.task-owner-label{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.task-owner-data{
    font-size: 14px;
    font-style: italic;
    padding: 0 auto;
    margin: 0 auto;
}
.task-due-date-label{
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 0;
    margin-right: 0;
    
}
.task-due-date{
    font-size: 14px;
    font-style: italic;
    padding: 0 auto;
    margin-top:0;
    margin-right: 2px;
}
.task-owner-container{ 
    margin-top: 2px;
    margin-right: 2px;
    width: 50%;
    order: -1;
      
}


.completed{
    background: green;
    color: white;
}
.red {
    background: red;
    color: white
}

.not-completed{
    background: red;
}
.date-created{
    margin: 0 auto;

}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/*******************
create task dialogue
********************/

.create-task-dialogue {
    
    position: fixed;
    top: 25%;
    left: 23%;
    height: 50%;
    width: 50%;
    z-index: 10;
    background: white;
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 8px gray;
}
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    

.create-task-description-container {
    margin-top: 25px;


}
#createTaskDescription{
    height: 150px;
    font-size: 24px;
    text-overflow: clip;
    border: 1px solid black;
    outline-offset: -8px;
    padding: 6px 0 2px 8px;
    width: 90%;
}
    
#createTaskDescription::placeholder{
    color: gray;
    font-size: 14px;

}

.icon{
    font-size: 24px;
    margin-left: 250px;
    margin-top: 30px;
    margin-right:5px;
    padding-right: 0px;
    width:10px;
}

.icon:hover{
    color: red;
}

.icon:active{
    transform: translateY(4px);

}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}
.button:hover {
    background-color: rgb(27, 223, 34);
}

.button:active {
    transform: translateY(3px);
    
}

